# =========================================
# ARDUINO
# =========================================
*.ino.with_bootloader.bin

# =========================================
# PYTHON
# =========================================
__pycache__/
*.pyc

# =========================================
# VSCODE
# =========================================
.vscode/

# =========================================
# OS
# =========================================
.DS_Store
Thumbs.db
